<!DOCTYPE html>
<html>
  <% include header %>
  <body>
    <script src="/javascripts/randompoints.js"></script>
    <script>
      $( document ).ready(function(){
        $('#registrar').on('submit', function (event) {
          event.preventDefault();
          var randomGeoPoints = generateRandomPoints({ 'lat': 40.790, 'lng': -4.010 }, 5000, 1);
          randomGeoPoints = generateRandomPoints({'lat': randomGeoPoints[0][1], 'lng': randomGeoPoints[0][0]}, 1000, 5);
          url = $(this).attr("action");
          var postData = $(this).serializeArray();
          postData.push({ name: 'ruta', value: JSON.stringify(randomGeoPoints) });
          console.log (JSON.stringify(postData));
          $.ajax({
            type: "POST",
            url: url,
            data: postData,
            success: function () {
              location.reload();
            }
          });          
        });
        //Aqui ocurre la referenciacion a id="map" que vemos al final del documento 
        var map = L.map('map').setView([40.790, -4.010], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map)

        var myStyle = {
        "color": "#FF0000",  // Color rojo
        "weight": 8,         // Aumenta la anchura de la línea
        "opacity": 0.8       // Opacidad
    };
      
      /* Invocamos una petición ajax para recuperar el geojson 
      *  una vez descargado creamos una capa geojson de leaflet y 
      *  la añadimos al mapa 
      */ 
        $.getJSON("/geojson", function(data) {
            L.geoJson(data, {
                style: myStyle,
                onEachFeature: function(feature, layer){ 
                  layer.bindPopup("<strong>"+feature.properties.Name+"</strong><br/>Fuerza: "+feature.properties.description);
                }
            }).addTo(map);
        });
      });


    </script> 

    <style>#map {height:800px} </style>

    <!-- Pestaña y desplegable del usuario-->
    <% include pestañausuario %>
    <% if (user) { %>
      <p id = "titulo-principal" style="margin-left: 1500px;">
        <%= user.name %> <%= user.surname %>
      </p>
  <% } %>

    <!-- Titulo de guadaway linea 18 routes/index.js-->
    <h1><%= title %></h1>
    

    <!-- Linea 18 routes/index.js-->
    <h2>Con <%= title%>, cada sendero es una aventura</h2>
    <!-- Buscador para las busqueda de las diferentes rutas, deberia tener desplegable y las diferentes rutas recomendadas a partir de la escritura-->
    <div class="form-group">
      <div class="col-sm-8">
        <input class="form-control" name="Buscar" placeholder="Buscar">
      </div>
      <div class="input-group-append">
        <button type="submit" class="btn btn-default">Buscar</button>
      </div>
    </div>

  <!-- Filtros, todavia faltan por referenciarlos y crear los que faltan, espaciado, BASE DE DATOS-->
    <div class="form-group">
      <select class="col-sm-2">
        <option value="" disabled selected>Duración</option>
        <option value="Menos de una hora">Menos de una hora</option>
        <option value="Entre 1 y 2 horas">Entre 1 y 2 horas</option>
        <option value="Entre 2 y 4 horas">Entre 2 y 4 horas</option>
        <option value="Entre 4 y 6 horas">Entre 4 y 6 horas</option>
        <option value="Más de 6 horas">Más de 6 horas</option>
      </select>
      <select>
        <option value="" disabled selected>Distancia</option>
        <option value="Menos de 5 km">Menos de 5 km</option>
        <option value="De 5 a 10 km">De 5 a 10 km</option>
        <option value="De 10 a 15 km">De 10 a 15 km</option>
        <option value="De 15 a 20 km">De 15 a 20 km</option>
        <option value="Más de 20 km">Más de 20 km</option>
      </select>
      <select>
        <option value="" disabled selected>Experiencia</option>
        <option value="Familiar">Familiar</option>
        <option value="Principiante">Principiante</option>
        <option value="Avanzado">Avanzado</option>
        <option value="Montañero">Montañero</option>
      </select>
      <select>
        <option value="" disabled selected>Tipo de recorrido</option>
        <option value="Circular">Madrid</option>
        <option value="Travesia">Travesia</option>
        <option value="Ida y Vuelta">Ida y Vuelta</option>
      </select>
      <select>
        <option value="" disabled selected>Zona</option>
        <option value="La Pedriza">La Pedriza</option>
        <option value="Peñalara">Peñalara</option>
        <option value="Navafría">Navafría</option>
      </select>
    </div>


    <div id="map"></div>

    <table class = "table table-stripped">
      <tr><th>ID</th><th>Nombre</th><th>Fuerza</th><th>Faccion</th><th>¿Eliminar?</th></tr>
      <% for(var i=0; i<personajes.length; i++) { %>
        <% var ID = personajes[i]._id; %>
        <tr>
          <td><a href="/character/<%= ID %>" ><%= ID %></td>
          <td><%= personajes[i].Nombre %></td>
          <td><%= personajes[i].Fuerza %></td>
          <td><%= personajes[i].Faccion %></td>
          <td>
            <form action="/character/<%= ID %>" method='POST'>
              <button type="submit" class="btn btn-danger">Eliminar personaje</button>
            </form>
          </td>
        </tr>
      <% } %>
    </table> 





    <form id="registrar" class="form-horizontal" action="/" method='POST'>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Nombre:</label>
        <div class="col-sm-10">
          <input class="form-control" name="nombre" placeholder="Introduce nombre">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Fuerza:</label>
        <div class="col-sm-10">
          <input class="form-control" name="fuerza" placeholder="Introduce fuerza">
        </div>
      </div>
     <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Faccion:</label>
        <div class="col-sm-10">
          <input class="form-control" name="faccion" placeholder="Introduce faccion">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Registrar</button>
        </div>
      </div>
    </form>




    <p>
    <a href="/json" target="_blank" class="btn btn-success" role="button">Obtener JSON</a>
    <a href="/xml" target="_blank" class="btn btn-info" role="button">Obtener XML</a>
    </p>

    <div id="map"></div>



    <% include footer %>
  </body>
</html>
